/* ********** Transform Animation ********** */

.transition {
    transition: all 0.8s linear;
}

.transition-delay {
    transition-delay: 0.5s;
}

.transform-slide-left {
    transform: translateX(-50%);
}

.transform-slide-right {
    transform: translateX(50%);
}

.slide-down {
    transform: translateY(100%);
}

.slide-up {
    transform: translateY(0%);
}

.scale-out {
    transform: scale(0);
}

.scale-in {
    transform: scale(1);
}

.flip-y {
  transform: translate(0, 130%);

}

/* ********** Transform Animation ********** */

/* Keyframes */

@keyframes rainbow-text {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

@keyframes slide-down-slide-up {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    20% {
        transform: translateY(100%);
        opacity: 0;
    }
    40% {
        transform: translateY(0%);
        opacity: 1;
    } 
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes border-slide-in {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes border-slide-out {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes slide-in-slide-out {
  0% {
    left: 100%;
  }
  50%  {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-in-right-spring {
  0% {
    transform: translateX(-100%);
  } 10% {
    transform: translateX(-300px);
  } 20% {
    transform: translateX(150px);
  } 40% {
    transform: translateX(-250px);
  } 50% {
    transform: translateX(100px);
  } 60% {
    transform: translateX(-200px);
  } 70% {
    transform: translateX(50px);
  } 80% {
    transform: translateX(-150px);
  } 90% {
    transform: translateX(-80px);
  } 100% {
    transform: translateX(-110px);
  }
}

@keyframes slide-in-left-spring {
  0% {
    transform: translateX(100%);
  } 20% {
    transform: translateX(-450px);
  } 30% {
    transform: translateX(-10px);
  } 40% {
    transform: translateX(-400px);
  } 50% {
    transform: translateX(-70px);
  } 60% {
    transform: translateX(-250px);
  } 70% {
    transform: translateX(-140px);
  } 80% {
    transform: translateX(-230px);
  } 90% {
    transform: translateX(-190px);
  } 100% {
    transform: translateX(-200px);
  }
}