.page-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--nila-bg-color);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-animation {
  width: 350px;
}

/* ****************************** Branding Video ****************************** */
.branding-video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nila-bg-color);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  transform: scale(0);
}

.video-close {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.close-video {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 25px;
  right: 50px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-video svg {
  width: 18px;
}

.close-video:hover {
  background: rgb(213, 213, 213);
}

/* ****************************** /Branding Video/ ****************************** */

.product-page-bg {
  background-color: var(--nila-bg-color);
}

.seperator {
  border-left: 1px solid #9490a0;
  opacity: 0.4;
  height: 15px;
}

/* ****************************** Buttons ****************************** */

.gradient-border-btn {
  outline: none;
  text-align: center;
  position: relative;
  border-radius: 50rem;
  cursor: pointer;
}

.gradient-border-btn:hover {
    color: #fff !important;
    background: linear-gradient(275deg, #00c0b852, #0a74e14f 53%);
}

.gradient-border-btn::before {
  background: linear-gradient(-45deg, #0a74e1, #00c0b8, #0a74e1, #00c0b8, #0a74e1);
  background-size: 200% 200%;
  animation: rainbow-text 4s infinite 2s linear alternate;
}

.gradient-border-btn::before,
.gradient-border-btn::after {
  content: "";
  background-size: 200% 200%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50rem;
  z-index: -1;
}

.gradient-border-btn::after {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: var(--nila-bg-color);
  background-size: 200% 200%;
}

.gradient-border-btn:hover.gradient-text {
  background: -webkit-linear-gradient(299deg, #0063f4 60%, #00d0b0 85%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.gradient-text-animation:hover {
  animation: rainbow-text 1s infinite 1s linear alternate;
}

.btn {
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.get-update-btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: #fff;
  margin-right: 20px;
  transition: all 0.5s ease-in;
}

.get-update-btn:hover {
    background-color: var(--accent-color);
    color: var(--title-color);
}

.banner-btn {
  margin-top: 30px;
}

/* ****************************** /\ Buttons /\ ****************************** */

/* ****************************** Get In touch section ****************************** */
.launch-update-section {
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}



.launch-title {
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin-bottom: 30px;
  line-height: 1.1;
  letter-spacing: -1px;
  font-weight: 600;
}

.error-message {
  color: red;
  margin-top: 10px;
  height: 10px;
}

.focus-border {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-image: var(--gradient-color);
  transition: width 0.5s ease-in;
}

.focus-border.error {
  background-image: none;
  background-color: red;
  width: 80%;
}

.email-input:focus ~ .focus-border {
  width: 80%;
}

.email-input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #2d313c;
  padding: 15px 0;
  color: #aaaeb8;
  transition-delay: 0.5s;
}

.email-input::placeholder {
  color: #2d313c;
}

/* ****************************** /\ Get In touch section /\ ****************************** */

.link-hover:hover {
  background: linear-gradient(90deg, #0a74e1, #64f1edb0, #0a74e1);
  background-size: 400% 400%;
  animation: rainbow-text 1s infinite linear alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-hover img {
  margin-left: 3px;
}

.link-hover:hover img {
  margin-left: 8px;
}

/* ****************************** Footer Section ****************************** */
.text-hover,
.copy-rights {
  position: relative;
  font-size: 16px;
  color: #636771;
}

.text-hover:hover {
  color: var(--title-color);
}

.text-hover:hover::after {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 25em;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  animation: border-slide-in 0.3s ease-in;
}

/* ****************************** /\ Footer Section /\ ****************************** */

@media screen and (max-width: 2560px) {
  .get-update-btn {
    padding: 16px 36px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .get-update-btn {
    padding: 12px 24px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .t {
    font-size: 24px;
  }

  .subtitle-sl {
    font-size: 36px;
  }

  .close-waitlist-slider {
    right: 20px;
    top: 15px;
  }

  .get-update-btn {
    padding: 12px 24px;
    font-size: 16px;
  }
}

@media screen and (max-width: 555px) {
  .heart-icon {
    height: 9px;
    padding-left: 7px;
  }

  .close-video {
    width: 36px;
    height: 36px;
    top: 24%;
    right: 10px;
  }

  .launch-update-section {
    width: 90%;
    margin: 0px auto 100px;
  }

  .launch-cta-section {
    margin: 0 auto;
    width: 80%;
  }

  .email-input,
  .focus-border.error,
  .email-input:focus ~ .focus-border {
    width: 100%;
  }

  .get-update-btn {
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
  }

  .banner-btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .seperator {
    height: 8px;
  }

  .t {
    font-size: 16px;
  }

  .get-update-btn {
    font-size: 14px;
  }
}
