/* Waitlist slider */

.join-waitlist-slider {
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: #030303b8;
    display: flex;
    justify-content: end;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.waitlist-container {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 60px 70px;
    letter-spacing: -1.2px;
    line-height: 1.2;
}

.join-waitlist-slider.open {
    background-color: transparent;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

.join-waitlist-slider.open .waitlist-container {
    transform: translateX(0%);
}

.close-waitlist-slider {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 50px;
    top: 40px;
    cursor: pointer;
    z-index: inherit;
}

.waitlist-title-wrapper {
    font-size: 70px;
}

.waitlist-email-wrapper {
    margin-top: 70px;
    padding: 15px 0 15px 15px;
    border: 2px solid #ECF1FA;
    border-radius: 5rem;
    width: 100%;
}


.waitlist-email {
    width: 68%;
    font-size: 18px;
    outline: none;
}

.waitlist-btn {
    width: 30%;
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 14px;
    border-radius: 5rem;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.waitlist-email::placeholder {
    opacity: 0.5;
}

.waitlist-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../assets/img/signin-bottom-mandala.png") bottom no-repeat;
    background-size: 80%;
    width: 100%;
    height: 110px;
}

.waitlist-footer img {
    width: 460px;
    height: 110px;
}

/* Waitlist slider */

.product-page-bg {
    background-color: var(--nila-bg-color);
}

.seperator {
    border-left: 1px solid #9490A0;
    opacity: 0.4;
    height: 15px;
}

.scrollable-text {
    opacity: 0.4;
}

.active-content {
    opacity: 1;
}

/* Buttons */

.gradient-border-btn {
    cursor: var(--cursor-image), pointer;
    outline: none;
    padding: 15px;
    position: relative;
    cursor: pointer;
    border-radius: 50rem;
}

.gradient-border-btn::before {
    background: linear-gradient(-45deg, #0a74e1, #00c0b8, #0a74e1, #00c0b8, #0a74e1);
    background-size: 200% 200%;
    animation: rainbow-text 4s infinite 2s linear alternate;
}

.gradient-border-btn::before,
.gradient-border-btn::after {
    content: "";
    background-size: 200% 200%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 50rem;
    z-index: -1;
}

.gradient-border-btn::after {
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--nila-bg-color);
    background-size: 200% 200%;
}

.gradient-border-btn:hover::after,
.btn:hover {
    background: linear-gradient(90deg, #0a74e1, #64f1edb0, #0a74e1);
    background-size: 400% 400%;
    animation: rainbow-text 2s infinite linear alternate;
}

.gradient-border-btn:hover.gradient-text {
    background: #fff !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.gradient-border-btn:hover::before {
    background-color: transparent;
    color: #fff;
}

.gradient-text-animation:hover {
    animation: rainbow-text 1s infinite 1s linear alternate;
}

.btn {
    background-color: #0760ef;
    color: var(--title-color);
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: -1px;
}


/* /\ Buttons /\ */

.input-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.focus-border {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-image: var(--gradient-color);
    transition: width 0.5s ease-in;
}

.email-input:focus~.focus-border {
    width: 80%;
}

.email-input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #6a6a6a;
    padding: 15px 0;
    color: whitesmoke;
    transition-delay: 0.5s;
}

.t {
    font-size: 40px;
    line-height: 1.4;
}

.link-hover:hover {
    background: linear-gradient(90deg, #0a74e1, #64f1edb0, #0a74e1);
    background-size: 400% 400%;
    animation: rainbow-text 1s infinite linear alternate;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-hover img {
    margin-left: 3px;
}

.link-hover:hover img {
    margin-left: 8px;
}

.text-hover,
.copy-rights {
    position: relative;
    font-size: 16px;
    opacity: 0.5;
}

.text-hover {
    cursor: pointer;
}

.text-hover:hover {
    opacity: 1;
}

.text-hover:hover::after {
    content: '';
    position: absolute;
    background: #ffffff;
    border-radius: 25em;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    animation: border-slide-in 0.3s ease-in;
}


#footer {
    width: 90vw;
    height: 100px;
    color: var(--description-color);
}

.footer-line {
    background: url("../assets/img/nila-footer-line.jpg") repeat-x;
    width: 100%;
    height: 4px;
    margin-bottom: 30px;
    background-size: 5%;
}

.social-media img {
    height: 18px;
    transition: filter 0.3s ease-in;
    cursor: pointer;
}

.social-media img:hover {
    filter: brightness(2);
}

@media screen and (max-width: 425px) {
    .seperator {
        height: 8px;
    }

    .t {
        font-size: 16px;
    }

    .waitlist-container {
        padding: 10px 20px;
        line-height: 1;
    }

    .close-waitlist-slider {
        width: 12px;
        height: 12px;
        right: 20px;
        top: 20px;
    }

    .waitlist-title-wrapper {
        margin-top: 200px;
        font-size: 40px;
    }

    .waitlist-email-wrapper {
        border: none;
        padding: 5px 0 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .waitlist-email {
        width: 100%;
        border: 2px solid #ECF1FA;
        border-radius: 5rem;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .waitlist-btn {
        width: 35%;
        text-align: center;
        padding: 10px 14px;
        font-size: 14px;
    }

    .email-input {
        padding: 5px 0;
    }

    .social-media img {
        height: 10px;
    }

    .text-hover,
    .copy-rights {
        font-size: 10px;
    }

    .gradient-border-btn {
        padding: 10px;
        font-size: 10px;
    }
}

@media  screen and (max-width: 375px) {
    .waitlist-btn {
        width: 45%;
    }
}