#footer {
    width: 80vw;
    min-height: 100px;
    color: var(--description-color);
}

.footer-line {
    background: url("../assets/img/footer_border.png") no-repeat;
    width: 100%;
    height: 4px;
    margin-bottom: 30px;
    background-size: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left-content {
    display: flex;
    align-items: center;
    color: #2c2c2c;
}

.contribution-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.design-with-nila {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636771;
    letter-spacing: 0.6px;
}

.heart-icon {
    height: 16px;
    margin-left: 10px;
    margin-right: 30px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media a {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-media .footer-link {
    margin-bottom: 0;
}

.social-media img {
    height: 16px;
    stroke: red;
    transition: filter 0.3s ease-in;
}

.social-media img:hover {
    filter: brightness(2);
}

.footer-right-content {
    display: flex;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin-right: 20px;
    letter-spacing: 0.6px;
}

.footer-right-content .seperator {
    padding-left: 20px;
}

@media screen and (max-width: 1113px) {
    .footer-left-content,
    .footer-right-content {
        width: auto;
    }
}

@media screen and (max-width: 1048px) {
    .footer-left-content {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) {
    .footer-link,
    .copy-rights,
    .design-with-nila {
        font-size: 14px;
    }

    .design-with-nila {
        padding-right: 30px;
    }

    .social-media img {
        height: 16px;
    }
}

@media screen and (max-width: 880px) {
    .social-media img {
        height: 14px;
    }

    .design-with-nila {
        padding-right: 0px;
    }

    .copy-rights {
        margin-right: 0;
    }

    .footer-right-content .seperator {
        padding-left: 10px;
    }

    .footer-container {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer-left-content {
        width: 100%;
        margin-bottom: 20px;
    }

     .footer-right-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .footer-link {
        font-size: 16px;
        margin-right: 10px;
    }
}


@media screen and (max-width: 555px) {
    #footer {
        width: 90vw;
        margin: 0 auto;
    }

    .footer-line {
        margin-bottom: 10px;
    }

    .heart-icon {
        height: 13px;
    }

    .social-media img {
        height: 16px;
    }

    .social-media a {
        width: 24px;
        margin-right: 15px;
    }

    .social-media a:last-child {
        margin-right: 0px;
    }

    .footer-right-content {
        align-items: center;
        justify-content: center;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .footer-link,
    .design-with-nila {
        font-size: 16px;
    }

    .copy-rights {
        font-size: 14px;
    }

    .footer-right-content .seperator {
        height: 10px;
    }

    .footer-left-content{
        width: 100%;
    }

    .footer-links {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 383px) {

    .footer-link,
    .design-with-nila {
        font-size: 14px;
    }

    .copy-rights {
        font-size: 12px;
    }

    .footer-right-content .seperator {
        height: 13px;
        padding-left: 10px;
    }
}