.navbar {
    width: 100%;
    padding-inline: 5%;
    position: fixed;
    z-index: 2;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    height: 56px;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .navlink {
    position: relative;
    padding: 5px 0;
    letter-spacing: 0.6px;
}

.navlink:first-child {
    margin-right: 40px;
}

.navlink:last-child {
    margin-right: 80px;
}

.navlink-btn {
    text-align: center;
    font-size: 17px;
    padding: 15px 24px;
    transition: all 0.3s ease-in;
    width: 160px;
    height: 50px;
    letter-spacing: 0.6px;
}

.navlink-btn.gradient-text {
    background: -webkit-linear-gradient(299deg, #0063f4 60%, #00d0b0 85%);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.navlink:hover,
.navlink.active {
    color: #fff;
}

.active::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(120deg, var(--accent-color) 0 50%, rgb(0, 208, 176) 99% 100%);
    border-radius: 25em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    animation: border-slide-in 0.3s ease-in;
}

.navbar-squeeze {
    background-color: var(--nila-bg-color);
    box-shadow: 0 10px 50px 50px var(--nila-bg-color);
}

@media screen and (max-width: 2560px) {
    .brand-logo {
        height: 64px;
    }

    .navlinks {
        font-size: 20px;
    }

    .navbar-squeeze .brand-logo {
        height: 56px;
    }

    .navbar-squeeze .navlinks {
        font-size: 19px;
    }

    .navbar-squeeze .navlink-btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 1327px) {
    .brand-logo {
        height: 60px;
    }

    .navbar-squeeze .brand-logo {
        height: 54px;
    }

    .navlinks {
        font-size: 18px;
    }

    .navlink {
        padding: 12px 0;
    }

    .navbar-squeeze .navlinks {
        font-size: 17px;
    }
}

@media screen and (max-width: 885px) {
    .navlinks {
        font-size: 18px;
    }

    .navlink-btn {
        font-size: 14px;
        padding: 12px 20px;
    }

    .brand-logo {
        height: 50px;
    }

    .navbar-squeeze .brand-logo {
        height: 40px;
    }

    .navbar-squeeze .navlinks {
        font-size: 16px;
    }

    .navbar-squeeze .navlink-btn {
        font-size: 13px;
    }

    .navlink:first-child {
        margin-right: 20px;
    }
}

@media screen and (max-width: 771px) {
    .brand-logo {
        height: 40px;
    }

    .navbar-squeeze .brand-logo {
        height: 36px;
    }

    .navlink {
        font-size: 16px;
    }

    .navbar-squeeze .navlink {
        font-size: 14px;
    }

    .navlink:last-child {
        margin-right: 50px;
    }
}

@media screen and (max-width: 679px) {
    .navlink {
        font-size: 14px;
    }

    .navbar-squeeze .navlink {
        font-size: 12px;
    }

    .navlink:last-child {
        margin-right: 40px;
    }
    
    .navlink-btn  {
        width: 120px;
        height: 40px;
    }
}


@media screen and (max-width: 485px) {
    .brand-logo {
        height: 30px;
    }

    .navbar-squeeze .brand-logo {
        height: 28px;
    }

    .navlink {
        font-size: 14px;
    }

    .navbar-nav .navlink {
        padding: 10px 0;
    }

    .navbar-squeeze .navlink {
        font-size: 12px;
    }

    .navlink:first-child {
        margin-right: 15px;
    }

    .navlink:last-child {
        margin-right: 30px;
    }

}