.navbar {
  width: 100%;
  padding-inline: 5%;
  position: fixed;
  z-index: 3;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  height: 56px;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navlink {
  color: #fff;
  transition: all 0.3s ease-in;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .navlink {
  position: relative;
  padding: 5px 0;
  letter-spacing: 0.6px;
}

.navlink:first-child {
  margin-right: 40px;
}

.navlink:last-child {
  margin-right: 80px;
}

.navlink-btn {
  text-align: center;
  font-size: 17px;
  padding: 15px 24px;
  transition: all 0.3s ease-in;
  width: 160px;
  height: 50px;
  letter-spacing: 0.6px;
}

.navlink-btn.gradient-text {
  background: -webkit-linear-gradient(299deg, #0063f4 60%, #00d0b0 85%) !important;
  background-clip: border-box !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.navlink:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navlink.active {
  color: var(--accent-color);
}

.active::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(120deg, var(--accent-color) 0 50%, rgb(0, 208, 176) 99% 100%);
  border-radius: 25em;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  animation: border-slide-in 0.3s ease-in;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 13vw;
}

.line-1,
.line-2,
.line-3 {
  position: absolute;
}

.line-2 {
  top: 7px;
}

.line-3 {
  top: 14px;
}

.line-1,
.line-3 {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: all 0.5s ease-in;
}

.line-2 {
  width: 15px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: all 0.5s ease-in;
}

.hamburger-menu.open .line-2 {
  opacity: 0;
}

.hamburger-menu.open .line-1 {
  transform: rotate(45deg);
}

.hamburger-menu.open .line-3 {
  top: 0;
  transform: rotate(-45deg);
}

.navbar-squeeze {
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 2560px) {
  .brand-logo {
    height: 56px;
  }

  .navlinks {
    font-size: 20px;
  }

  .navbar-squeeze .brand-logo {
    height: 50px;
  }

  .navbar-squeeze .navlinks {
    font-size: 19px;
  }

  .navbar-squeeze .navlink-btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 1327px) {
  .brand-logo {
    height: 54px;
  }

  .navbar-squeeze .brand-logo {
    height: 48px;
  }

  .navlinks {
    font-size: 18px;
  }

  .navlink {
    padding: 12px 0;
  }

  .navbar-squeeze .navlinks {
    font-size: 17px;
  }
}

@media screen and (max-width: 885px) {
  .navlinks {
    font-size: 18px;
  }

  .navlink-btn {
    font-size: 13px;
    padding: 12px 20px;
  }

  .brand-logo {
    height: 50px;
  }

  .navbar-squeeze .brand-logo {
    height: 40px;
  }

  .navbar-squeeze .navlinks {
    font-size: 16px;
  }

  .navbar-squeeze .navlink-btn {
    font-size: 12px;
  }

  .navlink:first-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 771px) {
  .navbar {
    height: 10vh;
  }
  .hamburger-menu {
    display: block;
    z-index: 4;
  }
  .brand-logo {
    position: absolute;
    top: 20px;
    left: 5vw;
    height: 40px;
    z-index: 4;
  }

  .navlinks {
    width: 100vw;
    height: 100vh;
    background-color: #090d18f7;
    position: absolute;
    top: 0vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 0px;
    transform: translateY(-110%);
  }

  .navlinks,
  .navbar-nav {
    align-items: center;
    flex-direction: column;
  }

  .navlink {
    margin-bottom: 50px;
    font-size: 32px;
  }

  .navlink:first-child,
  .navlink:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 679px) {
  .navlink-btn {
    width: 120px;
    height: 40px;
  }
}

@media screen and (max-width: 485px) {
  .brand-logo {
    height: 36px;
  }

  .navlink {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
