/* Font */
.puvi-regular {
    font-family: "Zoho_Puvi_Regular";
}

.puvi-medium {
    font-family: "Zoho_Puvi_Medium";
}

.puvi-bold {
    font-family: "Zoho_Puvi_Bold";
}

.puvi-extra-bold {
    font-family: "Zoho_Puvi_Extrabold";
}

.puvi-semi-bold {
    font-family: "Zoho_Puvi_Semibold";
}

.puvi-light {
    font-family: "Zoho_Puvi_Light";
}

.puvi-thin {
    font-family: "Zoho_Puvi_Thin";
}

.text-xs {
    font-size: var(--text-xs);
}

.text-s {
    font-size: var(--text-s);
}

.text-m {
    font-size: var(--text-m);
}

.text-l {
    font-size: var(--text-l);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-xxl {
    font-size: var(--text-xxl);
}

/* /\ Font /\ */

/* Typography */
.main-text {
    font-size: 70px;
    color: var(--title-color);
    letter-spacing: -1.5px;
    line-height: 1.1;
}

.title {
    font-size: var(--title-font-size);
    color: var(--title-color);
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 600;
}

.title .gradient-text,
.title .accent-color {
    font-size: calc(var(--title-font-size) + 2px);
    font-family: "Zoho_Puvi_Regular";
}

.content {
    margin-bottom: 40px;
    color: var(--description-color);
}

.gradient-ship-text {
    background: -webkit-linear-gradient(326deg, #0063f4 54%, #00d0b0 84%);
}

.gradient-design-text {
    background: -webkit-linear-gradient(-45deg, #0063f4 60%, #00d0b0 85%);
}

.gradient-prototype-text {
    background: -webkit-linear-gradient(-45deg, #0063f4 70%, #00d0b0 85%);
}

.gradient-fast-text-dot {
    background: -webkit-linear-gradient(310deg, #0063f4 53%, #00d0b0 79%);
}

.gradient-powerful-text-dot {
    background: -webkit-linear-gradient(-45deg, #0063f4 73%, #00d0b0 85%);
}

.gradient-collaborative-text-dot {
    background: -webkit-linear-gradient(307deg, #0063f4 75%, #00d0b0 89%);
}

.gradient-design-text-dot {
    background: -webkit-linear-gradient(310deg, #0063f4 58%, #00d0b0 83%);
}

.gradient-prototype-text-dot {
    background: -webkit-linear-gradient(302deg, #0063f4 67%, #00d0b0 85%);
}

.gradient-magic-text-dot {
    background: -webkit-linear-gradient(346deg, #0063f4 60%, #00d0b0 81%);
}

.gradient-creativity-text-dot {
    background: -webkit-linear-gradient(313deg, #0063f4 75%, #00d0b0 86%);
}

.gradient-you-text-dot {
    background: -webkit-linear-gradient(-45deg, #0063f4 35%, #00d0b0 65%);
}

.gradient-nila-text-dot {
    background: -webkit-linear-gradient(318deg, #0063f4 43%, #00d0b0 85%);
}

.gradient-mission-text {
    background: -webkit-linear-gradient(331deg, #0063f4 62%, #00d0b0 85%);
}

.gradient-inclusive-text {
    background: -webkit-linear-gradient(344deg, #0063f4 75%, #00d0b0 89%);
}

.gradient-seamless-text {
    background: -webkit-linear-gradient(344deg, #0063f4 70%, #00d0b0 92%);
}

.gradient-collaborative-text {
    background: -webkit-linear-gradient(344deg, #0063f4 82%, #00d0b0 90%);
}

.gradient-nila-text {
    background: -webkit-linear-gradient(341deg, #0063f4 55%, #00d0b0 73%);
}

.gradient-text {
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.cta-link .gradient-text {
    cursor: var(--cursor-image), pointer;
}

.title-color {
    color: var(--title-color);
}

.accent-color {
    color: var(--accent-color);
}

.primary-color {
    color: var(--description-color);
}

.text-center {
    text-align: center;
}

/* /\ Typography /\ */

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}

/* /\ Overflow /\ */

/* Container */
.container {
    width: 80vw;
    margin: 0 auto;
}

.section-container {
    min-height: 100vh;
}

@media screen and (max-width: 555px) {
    .container {
        width: 90vw;
    }

    .title {
        line-height: 1.3;
    }
}
