/* Font */
.puvi-reg {
    font-family: "Zoho_Puvi_Regular";
}

.puvi-medium {
    font-family: "Zoho_Puvi_Medium";
}

.puvi-bold {
    font-family: "Zoho_Puvi_Bold";
}

.puvi-extra-bold {
    font-family: "Zoho_Puvi_Extrabold";
}

.puvi-semi-bold {
    font-family: "Zoho_Puvi_Semibold";
}

.puvi-light {
    font-family: "Zoho_Puvi_Light";
}

.puvi-thin {
    font-family: "Zoho_Puvi_Thin";
}

.text-xs {
    font-size: var(--text-xs);
}

.text-s {
    font-size: var(--text-s);
}

.text-m {
    font-size: var(--text-m);
}

.text-l {
    font-size: var(--text-l);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-xxl {
    font-size: var(--text-xxl);
}

/* /\ Font /\ */

/* Typography */
.main-text {
    font-size: 70px;
    color: var(--title-color);
    letter-spacing: -1.5px;
    line-height: 1.1;
}

.title {
    font-size: var(--title-font-size);
    color: var(--title-color);
    line-height: 1.1;
    letter-spacing: -3px;
}

.title .gradient-text,
.title .accent-color {
    font-size:  calc(var(--title-font-size) + 2px);
    font-family: "Zoho_Puvi_Regular";
}

.content {
    margin-bottom: 40px;
    color: var(--description-color);
}

.gradient-text {
    background: -webkit-linear-gradient(-45deg, #0063f4 70%, #00d0b0 85%);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.cta-link .gradient-text {
    cursor: var(--cursor-image), pointer;
}

.title-color {
    color: var(--title-color);
}

.accent-color {
    color: var(--accent-color);
}

.primary-color {
    color: var(--description-color);
}

.text-center {
    text-align: center;
}

/* /\ Typography /\ */

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}

/* /\ Overflow /\ */

/* Container */
.container {
    width: 90vw;
    margin: 0 auto;
}

.section-container {
    min-height: 100vh;
}
