@import url("./css/cursor.css");
@import url("./css/fonts.css");
@import url("./css/utility.css");
@import url("./css/navbar.css");
@import url("./css/common.css");
@import url("./css/animation.css");

:root {
    --nila-bg-color: #090d18;
    --accent-color: #0063f4;
    --moon-color:#baeeee;
    --gradient-color: -webkit-linear-gradient(-45deg, #0063f4 60%, #00d0b0 85%);
    --video-title-font-size: 130px;
    --title-font-size: 70px;
    --text-xs: 0.625rem;
    --text-s: 0.875rem;
    --text-m: 1.2rem;
    --text-l: 1.5rem;
    --text-xl: 2rem;
    --text-xxl: 3rem;
    --title-color: #babfca;
    --description-color: #858a95;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: "Zoho_Puvi_Regular";
    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;
    cursor: none;
}

a {
    text-decoration: none;
    color: var(--description-color);
}

li {
    list-style: none;
}

@media screen and (max-width: 2560px) {
    :root {
        --text-xs: 14px;
        --text-s: 16px;
        --text-m: 20px;
        --text-l: 26px;
        --text-xl: 42px;
        --text-xxl: 50px;
        --video-title-font-size: 160px;
        --title-font-size: 70px;
    }
}

@media screen and (max-width: 1495px) {
    :root {
        --title-font-size: 60px;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --video-title-font-size: 120px;
    }
}

@media screen and (max-width: 1275px) {
    :root {
        --title-font-size: 52px;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --title-font-size: 48px;
    }
}

@media screen and (max-width: 1025px) {
    :root {
        --title-font-size: 42px;
        --text-xs: 12px;
        --text-s: 14px;
        --text-m: 16px;
        --text-l: 18px;
        --text-xl: 24px;
        --text-xxl: 28px;
        --video-title-font-size: 110px;
    }
}

@media screen and (max-width: 876px) {
    :root {
        --title-font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --title-font-size:28px;
        --text-xs: 10px;
        --text-s: 12px;
        --text-m: 14px;
        --text-l: 16px;
        --text-xl: 20px;
        --text-xxl: 24px;
        --video-title-font-size: 90px;
    }
}

@media screen and (max-width: 425px) {
    :root {
        --title-font-size:30px;
        --text-xs: 8px;
        --text-s: 10px;
        --text-m: 16px;
        --text-l: 14px;
        --text-xl: 16px;
        --text-xxl: 20px;
        --video-title-font-size: 30px;
    }
}