@import url('../privacy_and_security.css');

.privacy-header {
    width: 100vw;
    top: 0; 
    background-color: #f0f5ff;
    padding: 3%;
    z-index: 1;
    margin: auto;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    box-shadow: none;
}

.privacy-report-title-wrapper {
    padding-top: 0px;
}

.main-title {
    font-weight: 600;
    letter-spacing: -3px;
}

.nila-logo {
    width: 40px;
    transition: width 0.3s ease-in;
}

.nila-logo.shrink {
    width: 30px;
}

.ge-container {
    width: 80vw;
    margin: auto;
}

.table-container,
.main-title-header {
    position: sticky;
    position: -webkit-sticky;
}

.main-title-header {
    top: 30px;
    z-index: 2;
}

.breadcrumb {
    font-size: 16px;
    color: #666666;
}

.breadcrumb .left-arrow {
    font-size: 20px;
    font-weight: 600;
}

.main-title-wrapper {
    font-size: 70px;
    transition: font-size 0.3s ease-in;
}

.main-title-wrapper.shrink {
    font-size: 50px;
}

.table-container {
    margin-bottom: 150px;
}

table{
    border-spacing: 0;
    border-radius: 50px;
}

.ge-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
}

.sticky th {
    position: sticky;
    position: -webkit-sticky;
}

.ge-table th {
    padding: 15px 40px;
    font-size: 20px;
    font-family: 'Zoho_Puvi_Medium';
    color: #3e434e;
    font-weight: normal;
    background-color: #e1e4ed;
    text-align: left;
    top: 124px;
    height: 70px;
}

/* .ge-table th:first-child {
    border-top-left-radius: 50px;
}

.ge-table th:last-child {
    border-top-right-radius: 50px;
} */

.ge-table th:first-child {
    width: 15%;
    text-align: center;
    padding: 15px;
}

.ge-table th:nth-child(2) {
    width: 40%;
}

.ge-table th:last-child {
    width: 45%;
}

tr:nth-child(even) {
    background-color: #f8f9fc;
}

.ge-table td {
    font-size: 20px;
    line-height: 1.4;
    color: #4f5460;
    border-bottom: 1px solid #e1e4ed;
    border-right: 1px solid #e1e4ed;
    vertical-align: center;
    padding: 30px 40px;
    text-align: left;
}

.ge-container td:last-child {
    border-right: none;
}

.ge-table td:first-child {
    text-align: center;
    border-left: 1px solid #e1e4ed;
}