/* Image Style */
.animation-wrapper {
  width: 500px;
}

.hs-animation-section {
  width: 600px;
}

.vs-img,
.ads-left-img,
.fog-right-img,
.hs-img {
  width: 100%;
  height: auto;
}

/* /Image Style/ */

/* video section */
#videoSection {
  margin-bottom: 100px;
  position: relative;
}

.vs-animation-section {
  position: relative;
}

.vs-center-heart {
  position: absolute;
  top: 40%;
  left: 50%;
  animation: heart-beat 1s linear infinite;
}

.vs-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.vs-content-left,
.vs-content-right {
  font-size: var(--video-title-font-size);
  position: absolute;
  color: var(--title-color);
  font-family: "Zoho_Puvi_Bold";
  z-index: 1;
}

/* video section */

.sticky-top {
  top: 150px;
}

/* We are nila section */

/* Carousel Section */
#carousel-controller {
  min-width: 30vw;
  margin-top: 60px;
}

#carousel {
  overflow: hidden;
}

.carousel-content {
  min-width: 70vw;
  max-width: 70vw;
  display: flex;
  align-items: start;
}

.carousel-desc {
  width: 80%;
  height: auto;
}

.carousel-slider {
  display: flex;
  align-items: start;
}

.wan-img-wrapper {
  width: 28%;
  z-index: 1;
  position: relative;
  top: 50px;
  left: 7px;
}

.wan-img-wrapper img {
  position: absolute;
  z-index: 9;
  left: 10px;
}

.karthikeyan_j img {
  top: 18px;
  left: 10px;
  width: 168px;
}

.jerome_joel img {
  top: 17px;
  left: 3px;
  width: 192px;
}

.meera_sapra img {
  top: 15px;
  left: 5px;
  width: 182px;
}

.praburaj_moorthy img {
  top: 14px;
  left: 8px;
  width: 182px;
}

.jagadeesan_krishnan img {
  width: 182px;
  left: 8px;
  top: 9px;
}

.pic-gradient,
.pic-gradient-anim {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 5;
  border-radius: 50%;
  background: -webkit-linear-gradient(90deg, #0063F4 0%, #00D0B0 100%);
  border-radius: 100%;
  padding: 2px;
}

.pic-gradient::before,
.pic-gradient-anim::before {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 20px;
  height: 20px;
  /* background: #0d0914; */
  background: rgba(54, 173, 193, 1);
  border-radius: 50%;
  /*border: 2px solid #0063F4; */
  box-sizing: border-box;
  z-index: 9;
  content: "";
}

.pic-gradient::after,
.pic-gradient-anim::after {
  content: "";
  background: #0d0914;
  width: 196px;
  height: 196px;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.pic-gradient {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 10s;
}

.pic-gradient-anim {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit-duplicate;
  -webkit-animation-duration: 10s;
  background: transparent;
}

.pic-gradient-anim:after {
  background: transparent;
}

.list {
  cursor: pointer;
}

.list:hover {
  color: var(--title-color);
}

.list.gradient-text {
  opacity: 1;
  background: linear-gradient(90deg, var(--accent-color) 40%, rgb(0, 208, 176) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
}

/* /We are nila section/ */

@media screen and (max-width: 2560px) {
  .main-text {
    font-size: 80px;
  }

  .vs-animation-section {
    width: 1300px;
  }

  .vs-center-heart {
    width: 180px;
    left: calc(50% - 90px);
  }

  .vs-content-left {
    left: 10%;
  }

  .vs-content-right {
    right: 10%;
  }
}

@media screen and (max-width: 1620px) {
  .vs-content-left {
    left: 6%;
  }

  .vs-content-right {
    right: 6%;
  }
}

@media screen and (max-width: 1440px) {
  .main-text {
    font-size: 70px;
  }

  .vs-animation-section {
    width: 1100px;
  }

  .vs-center-heart {
    width: 140px;
    left: calc(50% - 70px);
  }

  .vs-content-left {
    left: 10%;
  }

  .vs-content-right {
    right: 10%;
  }
}

@media screen and (max-width: 1210px) {
  .vs-content-left {
    left: 6%;
  }

  .vs-content-right {
    right: 6%;
  }
}

@media screen and (max-width: 1095px) {
  .vs-center-heart {
    width: 110px;
    left: calc(50% - 55px);
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 110px;
  }

  .vs-content-left {
    left: 0%;
  }

  .vs-content-right {
    right: 0%;
  }
}

@media screen and (max-width: 1024px) {
  .hs-animation-section {
    width: 400px;
  }

  .main-text {
    font-size: 55px;
  }
}

@media screen and (max-width: 860px) {
  .vs-center-heart {
    width: 90px;
    left: calc(50% - 45px);
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 90px;
  }

  .vs-content-left {
    left: 5%;
  }

  .vs-content-right {
    right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .hs-animation-section {
    width: 300px;
  }

  .main-text {
    font-size: 40px;
  }

  .vs-center-heart {
    width: 90px;
    left: calc(50% - 45px);
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 90px;
  }

  .vs-content-left {
    left: 3%;
  }

  .vs-content-right {
    right: 3%;
  }

  #carousel-controller {
    min-width: 90vw;
    overflow-x: auto;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .carousel-content {
    min-width: 90vw;
    max-width: 90vw;
  }

  .wan-img-wrapper {
    width: 40%;
    top: 0;
  }

  .leads {
    width: 885px;
  }

  .leads li {
    font-size: 18px;
    margin-right: 60px;
  }

  .leads li:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 710px) {
  .vs-center-heart {
    width: 70px;
    left: calc(50% - 35px);
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 70px;
  }

  .vs-content-left {
    left: 5%;
  }

  .vs-content-right {
    right: 5%;
  }
}

@media screen and (max-width: 595px) {
  .vs-center-heart {
    width: 70px;
    left: calc(50% - 35px);
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 50px;
  }

  .vs-content-left {
    left: 3%;
  }

  .vs-content-right {
    right: 3%;
  }
}


@media screen and (max-width: 425px) {
  .subtitle-mobile {
    font-size: 20px;
  }

  .main-text {
    font-size: 40px;
  }

  .vs-content-left,
  .vs-content-right {
    font-size: 30px;
  }

  .vs-center-heart {
    width: 50px;
    left: calc(50% - 25px);
  }

  .vs-content-left {
    left: 15%;
  }

  .vs-content-right {
    right: 15%;
  }

  .vs-animation-section {
    width: 350px;
  }

  #carousel-controller {
    min-width: 90vw;
    overflow-x: auto;
    margin-bottom: 50px;
  }

  .carousel-content {
    min-width: 90vw;
    max-width: 90vw;
    flex-direction: column;
    justify-content: center;
  }

  .person-name {
    font-size: 22px;
    margin-top: 30px;
  }

  .prof-role {
    font-size: 18px;
    padding-bottom: 0;
  }

  .carousel-desc {
    width: 100%;
  }

  .wan-img-wrapper {
    left: 20%;
    width: 100%;
    height: 250px;
  }

  .leads {
    width: 811px;
  }

  .leads li {
    font-size: 16px;
    margin-right: 60px;
  }

  .leads li:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 375px) {
  .vs-content-left {
    left: 10%;
  }

  .vs-content-right {
    right: 10%;
  }
}

@media screen and (max-width: 320px) {
  .vs-content-left {
    left: 5%;
  }

  .vs-content-right {
    right: 5%;
  }
}