@import url("../style.css");

:root {
  --hero-section-font-size: 80px;
  --hero-section-gradient-font-size: calc(var(--hero-section-font-size) + 2px);
}

/* Hero Section */
.hs-content {
  width: 50%;
}

.hs-title {
  font-size: var(--hero-section-font-size);
  color: var(--title-color);
  margin-bottom: 40px;
}

.hs-title.gradient-text {
  font-size: var(--hero-section-gradient-font-size);
}

.text-slide {
  position: relative;
  height: 90px;
  width: 276px;
  transition: width 1s ease-in;
  display: inline-block;
  animation: blink 0.5s linear infinite;
}

.hs-animate-text {
  position: absolute;
  top: 0;
  left: 0;
}

.is-hidden {
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

.hero-section-content {
  width: 80%;
  font-size: 24px;
}

/* /Hero Section/ */

/* video section */
.video-section-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.vs-content {
  width: 100%;
  height: 100%;
}

.vs-top-content,
.vs-bottom-content {
  width: 105%;
  position: relative;
}

.vs-bottom-content img,
.vs-top-content img {
  width: calc(100vw);
}
/* /video section/ */

/* Native Mac Section */
.native-mac-section-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.love-icon {
  width: 50px;
  animation: heart-beat 1s linear infinite;
}

.animation-wrapper-3 {
  position: relative;
  width: 50vw;
  height: 100%;
}

.animation-section-3 {
  position: absolute;
  left: -40%;
  top: 10%;
  height: 75vh;
}

.native-mac-section-content {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.native-mac-section-subtitle {
  color: var(--title-color);
  width: 85%;
  padding-bottom: 30px;
  font-size: 35px;
}

.native-mac-section-description {
  width: 90%;
}

/* /Native Mac Section/ */

/* Prototype Section */
.prototype-section-container {
  height: auto;
  width: 100%;
  margin-top: 200px;
}

.prototype-section-subtitle {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 1.5;
}

.bottom-card-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0 auto;
  width: 80%;
}

.card-container {
  min-height: 500px;
  background-color: #1b1f2a;
  border-radius: 20px;
  padding: 50px;
}

.card-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  min-height: 410px;
}

/* /Prototype Section/ */

/* Collab Section */
.collab-section-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: auto;
}

.collab-section-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  height: 100vh;
}

.collab-header-content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.collab-header-title {
  padding-bottom: 40px;
  width: 70%;
}

.collab-header-description {
  width: 70%;
  line-height: 1.5;
}

.collab-animation-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collab-feature-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.collab-feature-controller {
  width: 50%;
}

.collab-feature-controller-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.collab-feature-controller-container:last-child {
  margin-bottom: 0;
}

.invite-team-animation,
.comment-converse-animation,
.smoother-handsoff-animation {
  height: 200px;
}

.show-on-hover {
  width: 0px;
  transition: all 0.5s linear;
}

.col-content {
  width: 50%;
  padding-left: 50px;
  opacity: 0.1;
  transition: opacity 0.5s ease-in;
}

.col-content:hover {
  opacity: 1;
}

.col-content .gradient-text {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in;
  display: inline-block;
  cursor: pointer;
}

.content-selected .show-on-hover {
  width: 30%;
}

.content-selected .col-content {
  opacity: 1;
}

.content-selected .gradient-text {
  background: -webkit-linear-gradient(-45deg, #0063f4 70%, #00d0b0 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collab-content-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  line-height: 1.5;
}

/* /Collab Section/ */

/* Fly Solo Section */
.fly-solo-section-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.fly-solo-animation {
  width: 50%;
}

.fly-solo-content-header {
  width: 50%;
}

.fly-solo-content-title {
  margin-bottom: 30px;
  width: 80%;
}

.fly-solo-content-description {
  width: 80%;
}

/* /Fly Solo Section/ */

/* Responsiveness  */

@media screen and (max-width: 1665px) {
  .hero-section-content {
    width: 90%;
  }
}

@media screen and (max-width: 1480px) {
  :root {
    --hero-section-font-size: 70px;
  }

  .hero-section-content {
    font-size: 22px;
  }

  .text-slide {
    height: 80px;
    width: 243px;
  }
}

@media screen and (max-width: 1357px) {
  .hero-section-content {
    width: 80%;
  }
}

@media screen and (max-width: 1295px) {
  :root {
    --hero-section-font-size: 60px;
  }

  .hero-section-content {
    font-size: 20px;
  }

  .text-slide {
    height: 69px;
    width: 210px;
  }
}

@media screen and (max-width: 1110px) {
  :root {
    --hero-section-font-size: 55px;
  }

  .text-slide {
    height: 63px;
    width: 193px;
  }

  .hero-section-content {
    width: 90%;
  }

  .card-img {
    height: 400px;
  }

  .vs-content {
    font-size: 250px;
    letter-spacing: -10px;
  }

  .vs-top-content {
    transform: translateX(-35px);
  }

  .vs-bottom-content {
    transform: translateX(-120px);
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --hero-section-font-size: 50px;
  }

  .hero-section-content {
    font-size: 18px;
  }

  .text-slide {
    height: 58px;
    width: 176px;
  }

  .animation-wrapper img {
    width: 300px;
  }

  .love-icon {
    width: 25px;
  }

  .card-img {
    height: 250px;
  }
}

@media screen and (max-width: 925px) {
  :root {
    --hero-section-font-size: 45px;
  }

  .text-slide {
    height: 53px;
    width: 160px;
  }

  .hero-section-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 835px) {
  :root {
    --hero-section-font-size: 60px;
  }

  .hs-content {
    width: 100%;
  }

  .text-slide {
    height: 69px;
    width: 210px;
  }

  .hero-section-content {
    font-size: 18px;
    width: 80%;
  }

  .canvas-wrapper {
    display: none;
  }

  .card-img {
    height: 200px;
  }
}

@media screen and (max-width: 555px) {
  :root {
    --hero-section-font-size: 45px;
  }

  .text-slide {
    height: 53px;
    width: 160px;
  }

  .hero-section-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --hero-section-font-size: 35px;
  }

  .text-slide {
    height: 42px;
    width: 126px;
  }

  .hero-section-content {
    font-size: 14px;
  }

  .animation-wrapper img {
    width: 200px;
    margin-bottom: 50px;
  }

  .love-icon {
    width: 20px;
  }

  .bottom-card-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
  }

  .card-layout {
    min-height: unset;
  }

  .card-img {
    height: 150px;
  }

  .col-content.text-xxl {
    font-size: 18px;
  }

  .content-selected .hide-img {
    width: 30px;
  }
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {
}