@import url("../style.css");

.hs-title {
  font-size: 80px;
  color: var(--title-color);
}

.text-slide {
  position: relative;
  height: 90px;
  width: 270px;
  border-right: 2px solid var(--accent-color);
  transition: width 1s ease-in;
  display: inline-block;
}

.hs-animate-text {
  position: absolute;
  top: 0;
  left: 0;
}

.is-hidden {
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

/* video section */
.vs-content {
  color: rgb(42, 44, 48);
}

.vs-top-content,
.vs-bottom-content {
  width: 110%;
}

.content-animation .vs-top-content {
  animation: slide-in-right-spring 4s linear;
}

.content-animation .vs-bottom-content {
  animation: slide-in-left-spring 4s linear;
}

.vs-top-content {
  transform: translateX(-110px);
}

.vs-bottom-content {
  transform: translateX(-200px);
}

/* /video section/ */

.love-icon {
  width: 55px;
}

.bottom-card-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0 auto;
}

.card-layout {
  min-height: 500px;
  background-color: rgb(11, 15, 32);
  border-radius: 20px;
}

.animation-section-3 {
  position: relative;
  left: -33%;
}

.animation-wrapper img {
  width: 400px;
}

.card-img {
  height: 300px;
}

.col-content {
  opacity: 0.1;
  transition: opacity 0.5s ease-in;
}

.col-content:hover {
  opacity: 1;
}

.col-content .gradient-text {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in;
  display: inline-block;
  cursor: pointer;
}

.hide-img {
  width: 0px;
  transition: all 0.5s ease-in;
}

.content-selected .hide-img {
  width: 80px;
}

.content-selected .col-content {
  opacity: 1;
}

.content-selected .gradient-text {
  background: -webkit-linear-gradient(-45deg, #0063f4 70%, #00d0b0 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 2560px) {
  .vs-content {
    font-size: 350px;
    letter-spacing: -25px;
  }

  .vs-top-content {
    transform: translateX(-50px);
  }

  .vs-bottom-content {
    transform: translateX(-170px);
  }
}

@media screen and (max-width: 1440px) {
  .card-img {
    height: 400px;
  }

  .vs-content {
    font-size: 250px;
    letter-spacing: -10px;
  }

  .vs-top-content {
    transform: translateX(-35px);
  }

  .vs-bottom-content {
    transform: translateX(-120px);
  }
}

@media screen and (max-width: 1024px) {
  .hs-title {
    font-size: 60px;
  }

  .text-slide {
    height: 70px;
    width: 203px;
  }

  .vs-content {
    font-size: 180px;
  }

  .vs-top-content {
    transform: translateX(-20px);
  }

  .vs-bottom-content {
    transform: translateX(-90px);
  }

  .animation-wrapper img {
    width: 300px;
  }

  .love-icon {
    width: 25px;
  }

  .card-img {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .hs-title {
    font-size: 40px;
  }
  .text-slide {
    height: 50px;
    width: 136px;
  }
  .vs-content {
    font-size: 140px;
  }

  .vs-top-content {
    transform: translateX(-15px);
  }

  .vs-bottom-content {
    transform: translateX(-70px);
  }
  .card-img {
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .hs-title {
    font-size: 40px;
  }

  .text-slide {
    width: 136px;
    height: 50px;
    border-right: 2px solid var(--accent-color);
  }

  .animation-wrapper img {
    width: 200px;
    margin-bottom: 50px;
  }

  .vs-content {
    font-size: 79px;
    letter-spacing: -5px;
  }

  .vs-top-content {
    transform: translateX(-22px);
  }

  .vs-bottom-content {
    transform: translateX(-40px);
  }

  .love-icon {
    width: 20px;
  }

  .bottom-card-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
  }

  .card-layout {
    min-height: unset;
  }

  .card-img {
    height: 150px;
  }

  .col-content.text-xxl {
    font-size: 18px;
  }

  .content-selected .hide-img {
    width: 30px;
  }
}

@media screen and (max-width: 375px) {
    .vs-content {
    font-size: 70px;
    letter-spacing: -5px;
  }
}

@media screen and (max-width: 320px) {
    .vs-content {
    font-size: 62px;
    letter-spacing: -5px;
  }

    .vs-top-content {
    transform: translateX(-15px);
  }

  .vs-bottom-content {
    transform: translateX(-30px);
  }
}