.privacy-header {
    height: 10vh;
}
.accordion {
    background-color: transparent !important;
    color: #3e434e !important;
    cursor: pointer;
    padding: 18px 30px 18px 0px; 
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 22px;
    position: relative;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.accordion:after {
    content: '\02795';
    position: absolute;
    font-size: 13px;
    color: #777;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2796";
    position: absolute;
}

.panel {
    background-color: transparent !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    font-size: 16px;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.panel.text-l {
    width: 100%;
    margin-bottom: 30px;
}