.privacy-header {
    height: 20vh;
}
.accordion {
    background-color: transparent;
    color: #3e434e;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    box-shadow: 0px 0px 7px #a3b8e8;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px;
    font-size: 22px;
    position: relative;
}

.accordion-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

.accordion-active,
.accordion:hover {
    background-color: #a3b8e8;
}

.accordion:after {
    content: '\02795';
    position: absolute;
    font-size: 13px;
    color: #777;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.accordion-active:after {
    content: "\2796";
    position: absolute;
}

.panel {
    background-color: transparent;
    max-height: 0;
    box-shadow: 0px 0px 7px #a3b8e8;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}

.panel.text-l {
    width: 100%;
    margin-bottom: 30px;
}