@import url("../css/navbar.css");
@import url("../css/footer.css");
@import url("../style.css");
@import url("../css/common.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090d18;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.contact-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0 auto;
    font-family: "Zoho_Puvi_Regular";
    color: #fff;
}

.left-layout,
.right-layout {
    width: 50%;
}

.title {
    font-size: 62px;
    margin-bottom: 20px;
}

.description {
    font-size: 26px;
    color: #b5b6ba;
    width: 80%;
    line-height: 1.5;
    letter-spacing: -0.8px;
}

.contact-us-img {
    margin-top: 100px;
    width: 300px;
}

input::placeholder,
textarea::placeholder {
    color: #3f4249;
    visibility: hidden;
}

input,
textarea {
    border-radius: 50px;
    outline: none;
    padding: 20px 0 20px 30px;
    border: 1px solid #444a5c;
    background-color: transparent;
    color: #fff;
    width: 100%;
    font-size: 20px;
    z-index: 1;
}

.field-area,
.textarea-field {
    width: 100%;
    position: relative;
}

.field-area .placeholder,
.textarea-field .placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10px, -50%);
    color: #7e828a;
    background-color: #090d18;
    padding: 0 20px;
    transition: all 0.3s ease-in;
}

.animate-input-placeholder {
    top: 0px !important;
}

.textarea-field .placeholder {
    top: 30px;
}

.name-field {
    display: flex;
    margin-bottom: 45px;
    width: 100%;
}

.email-field {
    width: 100%;
    margin-bottom: 45px;
}

.message-field {
    margin-bottom: 45px;
}

.name-empty-error,
.email-empty-error,
.email-invalid-error,
.message-empty-error {
    visibility: hidden;
    position: absolute;
    bottom: -25px;
    left: 20px;
    color: #e08585;
}

.submit-wrapper {
    margin-bottom: 60px;
}

.submit-btn {
    background-color: #263049;
    font-size: 25px;
    color: #d3d8e5;
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.submit-btn:hover {
    background-color: #324566;
}

input:focus,
textarea:focus {
    caret-color: #0063f2;
}

textarea {
    border-radius: 25px;
    resize: none;
    font-size: 20px;
    font-family: "Zoho_Puvi_Regular";
}

.help-section {
    line-height: 2;
    font-size: 18px;
    color: #777777;
}

a {
    color: #bdbec1;
    text-decoration: none;
    position: relative;
}

.twitter_link {
    color: #00acee;
}

.twitter_link:hover::after {
    width: 0;
}
